
.Sidebar {
    flex-shrink: 0;
    width: 250px;
    padding: 8px;
    border-radius: 16px;
    transition: transform 0.2s ease-in-out;
}

.Sidebar[data-open="false"] {
    transform: translateX(0%);
}


.Chats {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
}


.ChatButton {
    width: 100%;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: none;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}


.ChatButton:hover {
    background-color: light-dark(#e0e0e0, #333333);
}


.ChatTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.chat[data-active="true"] .ChatButton {
    background-color: light-dark(#d0e7ff, #2ecc00);
    border-color: transparent;
    cursor: default;
    font-weight: 600; 
}


@media screen and (max-width: 750px) {
    .Sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 2;
        padding: 72px 8px 8px 8px;
        background-color: light-dark(#e0e0e0, #252525ff);
        transform: translateX(-100%);
    }

    .MenuButton {
        display: block;
    }
}

.MenuButton {
    display: none;
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 3;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: light-dark( #0d0d0d, #ececec);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.MenuButton svg {
    vertical-align: middle;
    fill: light-dark( #0d0d0d, #ececec);
}