.sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0;
    width: 250px;
    padding: 8px;
    border-radius: 0px 16px;
    transition: transform 0.25s ease-in-out;
    transform: translateX(0);
}

.chats {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.chatItem {
    width: 100%;
}

.chatButton {
    width: 100%;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: none;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.chatButton:hover {
    background-color: light-dark( #171717,rgb(255, 255, 255));
    color: light-dark(  #ececec, #0d0d0d);
}

.chatTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatItem[data-active="true"] .chatButton {
    background-color: #2ecc00;
    border-color: transparent;
    cursor: default;
    font-weight: 600;
}

.menuButton {
    display: none;
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 15;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: light-dark(#fff, #333);;
    color: #2ecc00;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.menuButton svg {
    vertical-align: middle;
    fill: currentColor;
}

.overlay {
    display: none;
    pointer-events: none;
}

@media screen and (max-width: 750px) {
    .menuButton {
        display: block;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 240px;
        z-index: 50;
        padding: 72px 12px 12px;
        background-color: light-dark( #fff, #333);
        transform: translateX(-100%);
    }

    .sidebar[data-open="true"] {
        transform: translateX(0);
    }

    .overlay[data-show="true"] {
        display: block;
        pointer-events: auto;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 40;
        background-color: rgba(0, 0, 0, 0.5);
        animation: fadeIn 0.2s ease-in-out;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.NewChatButton {
  width: 100%;
  padding: 12px;
  background: none;
  border: 2px dashed light-dark( #171717,rgb(255, 255, 255));
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  color: light-dark( #171717,rgb(255, 255, 255));
}