.ChatContainer {
  position: relative;
  flex: 1;
  overflow-y: auto;
  width: 100%;
  padding: 1rem;
  background: light-dark(#f3f3f3, #212121);
  border-radius: 16px;

  /* Optional: smoother scroll */
  scrollbar-width: thin;
}

.LoaderOverlay {
  position: absolute;
  inset: 0; /* Shorter version of top/left/right/bottom: 0 */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.7);

  z-index: 10;
}
